{% extends "template.html" %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <a href="#" class="text-decoration-none card-link">
                <div class="card mb-3 h-100 text-center">
                    <div class="card-header">
                        Single File
                    </div>
                    <div class="card-body">
                        <i class="bi bi-file-earmark-play-fill display-1"></i>
                        <p class="card-text">Convert a single file.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/batch" class="text-decoration-none card-link">
                <div class="card mb-3 h-100 text-center">
                    <div class="card-header">
                        Batch Convert
                    </div>
                    <div class="card-body">
                        <i class="bi bi-folder-fill display-1"></i>
                        <p class="card-text">Convert all files in a folder.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" class="text-decoration-none card-link">
                <div class="card mb-3 h-100 text-center">
                    <div class="card-header">
                        Fingerprint File
                    </div>
                    <div class="card-body">
                        <i class="bi bi-fingerprint display-1"></i></i>
                        <p class="card-text">Test a file to see if it works with this app.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" class="text-decoration-none card-link">
                <div class="card mb-3 h-100 text-center">
                    <div class="card-header">
                        Tools
                    </div>
                    <div class="card-body">
                        <i class="bi bi-tools display-1"></i></i></i>
                        <p class="card-text">Various tools.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}